:root {
  --main-color: #7e459b;
  --second-color: #c1b6fc;
  --light-color: #fbfbfe;
  --dark-color: #242329;
  --main-font: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--light-color);
}

main,
footer {
  padding: 1rem 3rem;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 2rem;
  color: #242329;
  border-bottom: 1px solid #6f7a7e1c;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  font-size: 14px;
  text-decoration: none;
  color: var(--dark-color);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  padding: 1rem;
  font-family: var(--main-font);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  color: var(--light-color);
  background-color: var(--main-color);
}

section {
  padding-top: 3rem;
}

.titles {
  align-items: center;
  margin-bottom: 3rem;
}

.bio {
  display: flex;
  justify-content: space-between;
}

.bio-img {
  width: 320px;
}

.profile,
.skills,
.experience,
.portfolio,
.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.project-img {
  width: 320px;
  height: 200px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.carousel-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  padding: 1rem 3rem;
}

.carousel {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-arrows {
  top: 50%;
  position: absolute;
  border: none;
  font-size: 2rem;
  color: var(--main-color);
  background-color: transparent;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.card {
  min-width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card a {
  color: var(--light-color);
  text-decoration: none;
}

footer {
  color: var(--light-color);
  background-color: var(--main-color);
}

footer a {
  color: var(--light-color);
}